<!DOCTYPE html>
<html>
    <head>
       
        <title>
          Lake Water Level Monitoring System   
        </title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="static/style1.css">
    </head>
    <body>
      <header>
        
       
        <h1>Lake Depth Monitoring System</h1>
        <p>Reliable Lake Monitoring, Anytime, Anywhere.</p>
        <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
          <a href="/depth">
            <button style="font-size: x-large; color: rgba(18, 105, 148, 0.914); border-radius: 35px; padding: 10px 20px;">Track</button>
          </a>
          
          
        
        
    </header>
    <div class="main-content">
      <div class="container">
      
          
      <section id="s1">
        <h1>Who We Are</h1>
        <p ><b>We are a group of passionate engineering students in our second year at Cairo University, specializing in communication systems. Our team is divided into two specialized groups: the software team, which handles the website and embedded system code, and the hardware team, which focuses on circuit design and PCB development. Through collaboration and innovation, we aim to create a reliable solution for water depth measurement.
        </b></p>
      </section>
      <section id="s2">
        <h1>Abstract</h1>
        <p><b> 
          
          Our project focuses on accurately measuring lake depth at different points using ultrasonic sensors. We deployed two **HC-SR04** sensors—one positioned in the middle of the lake and another on the side—to gather depth readings in real time. These sensors are integrated with an **ESP8266 NodeMCU v3**, which processes the data and transmits it wirelessly for analysis. This approach ensures efficient and reliable depth measuremen.
        </b></p>
       
      </section>
         
      </div>
    </div>
    <footer>
      <p style="margin: 0;">| © Copyrights Reserved |</p>
      <small><a href="mailto:rafatelsheikh72@gmail.com"> rafatelsheikh72@gmail.com</a></small> <br>
     
      <a href="/depth" style="color:  rgb(233, 244, 247);">Sensor Recent Readings</a> |
      <a href="readings" style="color:  rgb(233, 244, 247);">Database Readings</a>
      
    </footer>

 
  
    
      
      
    </body>
    </html>
